<%- include("partials/header") -%>
<div class="bodyContainer">

<h1> Compose </h1>
<h6> <%= firstPost %></h6>
   <form class="" action="/compose" method="post">
      <div class="form-group ">
          <label>Title</label>
          <textarea id="postTitle" class="form-control" name="title" type="Text" rows="1" cols="30" autofocus></textarea>
          <label>Post</label>
          <textarea id="postContent" class="form-control" name="content" rows="5" cols="30"></textarea>
      </div>

      <label for="Countries">Country:</label>
      <input list="Countries" name="Country" placeholder="Which Country" id="step1" required>
      <datalist id="Countries">
        <% countrySelection.forEach(function(country)  { %>
        <option name="countrySelection" value=" <%=country.emoji%> <%=country.name %>">

          <% }) %>
      </datalist>


      <label for="States">State:</label>
      <input list="States" name="State" placeholder="Which State" id="step2" required>
      <datalist id="States">
        <% countrySelection.forEach(function(country)  { %>
        <option name="stateSelection" value="">
          <% }) %>
      </datalist>

      <label for="Cities">City:</label>
      <input list="City" name="City" placeholder="Which City" id="step3" required>
      <datalist id="Cities">
        <% countrySelection.forEach(function(country)  { %>
        <option name="citySelection" value="">
          <% }) %>
      </datalist>

      <input type="hidden" name="date" id="todayDate"/>

     <section class="formSubmit">
      <button type="submit" name="button">Submit</button>
      <button type="reset" name="reset">Clear Post </button>
      <button onclick="loremParagraph()">Click me</button>
      <button onclick="random()">Click me</button>

    </section>

 </form>
</div>

<script>
  let random = function() {
    document.getElementById('postTitle').innerHTML = '<%= randomTitle %>'
  }

  let loremParagraph = function() {
    document.getElementById('postContent').innerHTML = '<%= lorem %>'
  }
</script>

<%- include("partials/footer") -%>
