<%- include("partials/header") -%>


<title>Blogs </title>
</head>

<body>
  <div class="bodyContainer">

   <div class="featuredPost">
     <section class="featureImageContainer">

    <img id="featureImage" src="https://source.unsplash.com/1366x768/?<%=featurePost.Title%>" alt="">
  </section>

     <section id="featuredTitle">
       <h2><%=featurePost.Title%></h2>
       <p id="featureContent">
       <%=featurePost.Content.substring(0, 250)%>... <a href="/posts/<%=featurePost.Title%>"> Read more </a>
         </p>
         <p id="featuredDate">
          <%= featurePost.date %>
           </p>
     </section>
   </div>


  <div class="gridContainer">
    <% posts.forEach(function(post) { %>

     <div class="blogSnippetContainer">

       <section class="imageContainer">
         <span class="spanLocation"><%= post.emojiLocation%></span>
          <a href="/posts/<%=post.Title%>"><img class="imageImported" src="https://source.unsplash.com/750x400/?<%=post.Title%>" alt=""> </a>
       </section>

      <section class="blogSnippetTitle">
        <h3> <%= post.Title%> </h3></section>
       <section class="blogSnippetContent">
         <p><%= post.Content.substring(0, 100)%> </p>
         <a href="/posts/<%=post.Title%>">Read More</a>
         <p>
         Published: <%= post.date %>
           </p>
     </section>
       <section class="blogSnippetCategory">
         <p>
           </p>
         </section>
       </div>

    <% }) %>

</div>

  <section class="sideBlogBar">
   <!--- Placeholder text here --->


  </section>


<%- include("partials/footer") -%>
