<%- include("partials/header") -%>


<title>Blogs </title>
</head>

<body>

  <div class="bodyContainer">

  <div class="gridContainer">
    <% posts.forEach(function(post) { %>
     <div class="blogSnippetContainer">
       <img class="imageContainer" src="https://source.unsplash.com/500x200/?<%= post.Title %>" alt="">

      <section class="blogSnippetTitle">
        <h3> <%= post.Title%> </h3></section>
       <section class="blogSnippetContent">
         <p><%= post.Content.substring(0, 100)%> </p>
         <a href="/posts/<%=post.Title%>">Read More</a>

     </section>
       <section class="blogSnippetCategory">
         <p>
           Category: <%= post.Category %>
           </p>
         </section>
       </div>

    <% }) %>

  </div>
</div>

  <section class="sideBlogBar">
   <!--- Placeholder text here --->


  </section>


<%- include("partials/footer") -%>
