<%- include("partials/header") -%>


<title>Blogs </title>
</head>

<body>
  <div class="bodyContainer">

   <div class="featuredPost">
     <section class="featureImageContainer">

    <img id="featureImage" src="https://source.unsplash.com/1366x768/?<%=featurePost.title.split(" ").splice(-3)%>" alt="">
  </section>

     <section id="featuredTitle">
       <h2><%=featurePost.title.toUpperCase()%></h2>
       <p id="featureContent">
       <%=featurePost.content.substring(0, 250)%>... <a href="/posts/<%=featurePost.title.split(' ').join('_')%>"> Read more </a>
         </p>
         <p id="featuredDate">
          <%= featurePost.date %>
           </p>
     </section>
   </div>

<section id="searchBarSection">

   <h2> Search </h2>
   <form class="" action="/search" method="post">

   <input id="searchBar" type="text" name="search" placeholder="Search.." autofocus />

</form>
</section>


<div id="bottomHalf">
  <div class="gridContainer">
    <% posts.forEach(function(post) { %>

     <div class="blogSnippetContainer">

       <section class="imageContainer">
         <span class="spanLocation"><%= post.emojiLocation%></span>
          <a href="/posts/<%=post.title.split(' ').join('_')%>"><img class="imageImported" src="https://source.unsplash.com/750x400/?<%=post.title.split(" ").splice(-3)%>" alt=""> </a>
       </section>

      <section class="blogSnippetTitle">
        <h3> <%= post.title%> </h3></section>
       <section class="blogSnippetContent">
         <p><%= post.content.substring(0, 100)%> </p>
         <a href="/posts/<%=post.title.split(' ').join('_')%>">Read More</a>
         <p>
         Published: <%= post.date %>
           </p>
     </section>

</div>
    <% }) %>

</div>

<div class="bottomCta">
<button method="POST" action ="/logout" type="submit" name="logout"> Logout </button>
</div>

</div>

</div>
<%- include("partials/footer") -%>
