<%- include("partials/header") -%>


<title>Blogs </title>
</head>

<title>Blogs </title>
</head>

<body>
   <div class="featuredPost">
     <section class="featureImageContainer">
    <img id="featureImage" src="https://source.unsplash.com/1366x768/?<%=featurePost.title.split(" ").splice(-3)%>" alt="">
    <section id="featureTitleContainer">
    <h2 id="featureTitle"><%=featurePost.title.toUpperCase()%></h2>
   </section>
  </section>

     <section id="featuredTitle">
       <div id="featureContent">

       <p>
       "<i><%=featurePost.content.substring(0, 350)%></i>"<br> <a href="/posts/<%=featurePost.title.split(' ').join('_')%>"> Read more </a>
         </p>
         <p id="featuredDate">
          <%= featurePost.date %>
           <br>
            Author:Name</p>
           </div>
     </section>
    <section class="arrow">
       <a href="#section2">
       <i id="arrow" class="fas fa-arrow-circle-down"></i></a>
     </section>
   </div>

   <div id="section2" class="bodyContainer">
<section id="searchBarSection">

   <h2> Search </h2>
   <form class="" action="/search" method="post">

   <input id="searchBar" type="text" name="search" placeholder="Search.."  />

</form>
</section>


<div id="middleThird">
  <div class="gridContainer">
    <% posts.forEach(function(post) { %>
     <div class="blogSnippetContainer">
       <section class="imageContainer">
         <span class="spanLocation"><%= post.emojiLocation%></span>
          <a href="/posts/<%=post.title.split(' ').join('_')%>"><img class="imageImported" src="https://source.unsplash.com/750x400/?<%=post.title.split(" ").splice(-3)%>" alt=""> </a>
       </section>
      <section class="blogSnippetTitle">
        <h3> <%= post.title%> </h3></section>
       <section class="blogSnippetContent">
         <p><%= post.content.substring(0, 100)%> </p>
         <a href="/posts/<%=post.title.split(' ').join('_')%>">Read More</a>
         <p>
           <b>Author</b> : Example
           <br>
         <strong>Published:</strong> <%= post.date %>
     </section>
</div>
    <% }) %>

</div>

</div>

<div id="users" >
  <%- include("partials/users.ejs") -%>
</div>

<div class="bottomCta">
<button method="POST" action ="/logout" type="submit" name="logout"> Logout </button>
</div>

</div>


<%- include("partials/footer") -%>
