<%- include("partials/header") -%>


<title>Blogs </title>
</head>

<body>
  <div class="bodyContainer">

   <section class="featuredPost">
     <img class="featuredImage" src="https://source.unsplash.com/1200x600/?bold" alt="">
     <section id="featuredTitle">
       <h2>EXAMPLE PULLED IN TEXT</h2>
       <p>
        EXAMPLE PULLED IN SNIPPET THAT COULD RUN FOR A LITTLE BIT
         </p>
     </section>
   </section>


  <div class="gridContainer">
    <% posts.forEach(function(post) { %>
     <div class="blogSnippetContainer">

       <section class="imageContainer">
         <span class="spanLocation"><%= post.emojiLocation%></span>
          <a href="/posts/<%=post.Title%>"><img class="imageImported" src="https://source.unsplash.com/750x350/?<%=post.Title%>" alt=""> </a>
       </section>

      <section class="blogSnippetTitle">
        <h3> <%= post.Title%> </h3></section>
       <section class="blogSnippetContent">
         <p><%= post.Content.substring(0, 100)%> </p>
         <a href="/posts/<%=post.Title%>">Read More</a>

     </section>
       <section class="blogSnippetCategory">
         <p>
           </p>
         </section>
       </div>

    <% }) %>

</div>

  <section class="sideBlogBar">
   <!--- Placeholder text here --->


  </section>


<%- include("partials/footer") -%>
