<%- include("partials/header") -%>


<div class="heroBlog" height="550px">
  <img class="imageImportedLarge" src="https://source.unsplash.com/2800x1450/?<%= title %>" alt="">
  <h2 class="imageHeroh2"<%= title %></h2>
</div>
<nav id="secondNav">
<ul id="breadCrumb">
  <li class="breadCrumbs"><a href="/">Home</a></li>
  <li class="breadCrumbs"><a href="/posts/<%= title.split(' ').join('_') %>"><%= title %> </a></li>
</ul>
</nav>
<div class="blogContent">
  <h2><%= title %></h2>
  <h6><%= category %></h6>
  <p>
    <%= content %>

    </p>
</div>

<%= category %>

<script>
window.onload = function() {
  document.body.className += 'loaded'
};
</script>
<%- include("partials/footer") -%>
